body{
    background-color: #2F3D4C;
}

img{
    width:100%;
}

.navbar-brand{
    font-family: 'IM Fell DW Pica SC', serif;
    font-size: 24px;
}

.btn-primary{
    background-color:#0072b1;
}

.btn-secondary{
    background-color:#bc2a8d;
}